body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
.header{
    float: right;
    
}
.header img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header a, .header button{
    margin: 10px;
    color: #000;
    text-decoration: none;
}


.main{
    text-align: center;
}
.main div{
    margin-top: 15px;
}
.logo-img img{
    width: 300px;
    height: 100px;
    margin-top: 10%;
   margin-left: 100px;
   
   
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box {
    display: flex;
    padding: 5px;
    border: 1px solid #212121;
    border-radius: 99px;

    width: 661px;
    height: 45px;
    
}

input{
    width: 100%;
    border: none;
    padding: 5px;
}
.search-box button{
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
.btn button{
    height: 40px;
    width: auto;
    color: #646464;
    background: #f2f2f2;
    border: none;
}
.btn button:hover{
    color: #373737;
    background: #d3d3d3;
    border: 5px solid lightslategray;
}
.footer{
    font-size: 14px;
    margin-left: -27px;
    background: #e7e6e6;
    line-height: 40px;
    min-width: 980px;
    border-top:1px solid #e4e4e4;
    display: block;
    visibility: visible;
}
.country{
    font-size: 17px;
}
.cnt{
    margin-left: 30px;
    text-align: left;
}

